
<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4 text-white">Writia</h1>
        <p class="lead">We are the number one blogging company in Nigeria, we seek to lead in the writing space. Join us today</p>
        <hr class="my-4">
        <p>The best way to have your thoughts out there :)</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
<div>

